* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-brand img{width: 150px;}
.bg-propio{background-image: linear-gradient( to bottom, rgb(175, 177, 0),rgb(223, 226, 0), rgb(251, 255, 0));}
