* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-brand img {
  width: 150px;
}
.bg-propio {
  background-image: linear-gradient(
    to bottom,
    rgb(175, 177, 0),
    rgb(223, 226, 0),
    rgb(251, 255, 0)
  );
}
.fijo{position: sticky; width: 100%; top: 0;}

.footer {
  & ul {
    list-style: none;
    & a {
      text-decoration: none;
      color: black;
    }
  }
}
.bg-propio-f {
  background-color: #a9abae;
}
.Suscribirme {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 40px;
  background-color: #fff001;
  border: black 1px solid;
  border-radius: 10px;
}

.zindex-navbar{
  z-index: 999;
}

.row{row-gap: 33px;}
.espacio{margin-top:800px;}
.fondo{background-image: url(../img/LOGO\ P8.png); background-repeat: no-repeat; background-attachment: fixed; background-size: contain; object-fit: cover; background-position:50%; background-position-y: 50px;} 
.caja img{border-radius: 4%; &:hover{filter:drop-shadow(16px 16px 20px#000000); 
  transition: 1s}}
.fondo2{background-image: url(../img/fondo2.webp); background-repeat: no-repeat; background-attachment:fixed; background-size:cover; object-fit: cover ; background-position:50%;} 
